@import "tailwindcss";

@theme inline {
  /* This tells Tailwind v4 to create classes like bg-theme-main */
  --color-theme-main: var(--bg-main);
  --color-theme-text: var(--text-main);
  --color-theme-muted: var(--text-muted);
  --color-theme-primary: var(--primary);
  --color-theme-primary-bg: var(--primary-bg);
  --color-theme-primary-hover: var(--primary-hover);
  --color-theme-card: var(--card-bg);
  --color-theme-border: var(--card-border);
  --color-theme-image-bg: var(--image-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --bg-main: #ffffff;
    --text-header: #000000;
    --text-main: #111827;
    --text-muted: #4b5563;
    --primary: #2563eb;
    --primary-bg: #eff6ff;
    --primary-hover: #dbeafe;
    --card-bg: #ffffff;
    --card-border: #e5e7eb;
    --image-bg: #f9fafb;
  }

  .theme-dark {
    --bg-main: #0a0a0a;
    --text-header: #FFFFFF;
    --text-main: #f9fafb;
    --text-muted: #9ca3af;
    --primary: #f59e0b;
    --primary-bg: rgba(245, 158, 11, 0.1);
    --primary-hover: rgba(245, 158, 11, 0.2);
    --card-bg: #171717;
    --card-border: #262626;
    --image-bg: #000000;
  }
}
/* Apply the defaults to the body tag automatically */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-header);
  }
}